<h1>Tankstellen in deiner Nähe</h1>

<div id="garages_near"></div>

<script type="text/javascript">

  $div = $('#garages_near');

  $(document).ready(function(){
   
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(getGarages);
      } else {
        $div.html("Diese Funktion wird von Ihrem Browser leider nicht unterstützt.");
      }

  });

  function getGarages(position) {

    startLoading();

    lat = position.coords.latitude;
    lng = position.coords.longitude;

    var garages = get_garages(lat,lng);

    if(garages == undefined)
    {
      $div.html("Leider wurden für Ihren Standort keine Tankstellen gefunden.");
    }

    stopLoading();

  }

</script>