<div class="row">

  <div id="main" class="col-xs-12 col-md-9">

    <div id="map"></div>

    <div id="weather"></div>

  </div>

  <div id="sidebar" class="col-xs-12 col-md-3"> 

    <%= render :partial => 'shared/schon_gewusst' %>

  </div>

  <div class="clear"></div>

</div>

<style>
  @media (max-width:991px) {
      #main {
        display:none;
      }
  }
</style>