<div class="row">

  <div id="sidebar" class="col-xs-12 col-md-3"> 

  asd

  </div>

  <div id="main" class="col-xs-12 col-md-9">

  <h1>Welcome#index</h1>
  <p>Find me in app/views/welcome/index.html.erb</p>

  </div>

  <div class="clear"></div>

</div>