<div class="row">

  <div id="main" class="col-xs-12 col-md-9">

    <div id="map"></div>

    <div id="weather"></div>

  </div>

  <div id="sidebar" class="col-xs-12 col-md-3"> 

    <%= render :partial => 'shared/schon_gewusst' %>

  </div>

  <div class="clear"></div>

</div>

<style>
@media (max-width:991px) {
  #main {
    display:none;
  }
}
</style>

<script>  
  var lat = 47.723818;
  var lng = 13.0869397;

  initialize(lat,lng); 

  function initialize(lat,lng) 
  {
    geocoder = new google.maps.Geocoder();

    var latLng  = new google.maps.LatLng(lat,lng);

    var mapOptions = {
      zoom: 10,
      center: latLng
    };
    map = new google.maps.Map(document.getElementById('map'),
        mapOptions);

      var circleOptions = {
        strokeColor: '#888888',
        strokeOpacity: 0,
        strokeWeight: 2,
        fillColor: '#888888',
        fillOpacity: 0,
        map: map,
        center: latLng,
        radius: 0
      }

      cityCircle = new google.maps.Circle(circleOptions); 

  }

    $("#showConfig").on('click',function(){
      $('#garageModal').html('<div class="form-group"><input type="text" id="origin2" class="form-control" placeholder="Von: Salzburg" ></div><div class="form-group"><input type="text" id="destination2" class="form-control" placeholder="Nach: Linz"></div><button id="searchbutton2" type="submit" class="btn btn-default">Suchen</button>');
      $(".overlay").show();    
      $("#garageModal").show(); 
    });

    $(document).ready(function(){
      $('.overlay').on('click',function(){
        closeGarage();
      });     
    });



</script>
