/*
 *= require bootstrap.min
 *= require_tree .
 *= require_self
*/

body {
    background: #fcfcfc;
    color: #111111;
    overflow: hidden;
}

#logo {
    float: left;
    padding: 35px 0px 0px 30px;
    color: #fff;
}

#topBar {
    height: 5px;
    width: 100%;
    background: #ed4514;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}

a.navbar-brand {
    color: #ffffff !important;
    padding-top: 20px;
}

.navbar, .navbar-collapse {
    padding: 0px;
}

.navbar-right {
    padding-right: 15px;
    margin: 0 !important;
}

.navbar-nav, .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin: 0;
}

.navbar-toggle {
    background: #dddddd;
}

.container-fluid {
    padding: 0 !important;
}

.form-group {
    padding: 5px 0px;
}

.form-group button {
    width: 100%;
}

.navbar ul {
    padding: 0 !important;
}

.row {
    margin: 0 !important;
}

.navbar-collapse {
    width: 100%;
    margin: 0;
    z-index: 999;
    border: none;
}

.navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li >a {
    color: #ffffff;
    height: 100%;
}

.navbar-default .navbar-nav > li > a {
    padding: 20px;
}

.navbar-form {
    padding-top: 10px;
}

.navbar-default {
    background-color: #ed4514;
    margin: 0;
    box-shadow: 0px 0px 15px #843822;
    border: 0px;
    padding: 0px 10px;
    z-index: 9999;
}

.input-group {
    max-width: 250px;
    margin: 5px;
}

.container {
    width: 95%;
    position: relative;
}

#header .container {
    height: 125px;
}

#toggleNav {
    position: absolute;
    right: 5px;
    top: 50px;
    color: #fff;
    z-index: 10000;
    background-color: #ed4514;
    border-radius: 20px;
    padding: 5px 10px;
}

#showConfig {
    display: none;
}

#toggleNav.active {
    top: -10px;
}

@media (max-width:1250px) {
    #toggleNav, .navbar-right {
        display: none;
    }

    #showConfig {
        display: block;
    }

    .navbar-default {
        padding: 0px !important;
    }

    #weather {
        display: none !important;
    }
}

div#navbar ul.main li {
    height: 100%;
}

div#navbar ul.main li a {
    padding-top: 45px;
    border-right: 1px solid #ed4514;
}

.navbar .open a {
    border: none !important;
}

.navbar-nav > li.active > a, .navbar-nav > li:hover > a, .navbar .open > li > a {
    background: #ef5817 !important;
    height: 100%;
    border-bottom: 5px solid #fe832c !important;
    color: #fff !important;
    border-right: 1px solid #ed4514;
}

.dropdown-menu a, .dropdobn-menu li:hover a, .dropdown-menu li a {
    border-bottom: 0px !important;
}

#header ul.main {
    height: 100%;
    position: absolute;
    left: 150px;
}

#sidebar {
    height: 100%;
    position: absolute;
    box-shadow: 0px 0px 4px #444444;
    padding: 0px !important;
}

#sidebar a.button, #garages_near a.button {
    text-align: center;
    background: #eeeeee;
    padding-bottom: 5px;
    margin: 0px 0px 15px 0px;
}

#sidebar a.button.active, #garages_near a.button.active {
    font-weight: bold;
}

#sidebar a.add-route {
    text-align: center;
    color: #ffffff;
    background: #ed4514;
    padding: 10px 0px;
}

#sidebar a.button span, #garages_near a.button span {
    margin: 10px 0px;
}

#main {
    background: #fcfcfc;
    height: 100%;
    position: absolute;
    overflow: scroll;
    right: 0;
    padding: 0;
    top: 100;
}

#mainStats {
    background: #fcfcfc;
    height: 100%;
    position: absolute;
    overflow: scroll;
    right: 0;
    padding: 10;
    top: 100;
    padding-bottom: 150px;
}

.container.content {
    margin: 0;
    padding: 0;
    width: 100%;
}

.content h1, .content > div {
    margin: 15px;
}

#content {
    width: 80%;
    margin: 0 auto;
    padding-top: 25px;
    background: #fcfcfc;
}

#map {
    height: 100%;
    width: 100%;
}

.tankstelle {
    border-bottom: 1px solid #fe832c;
    background: #fafafa;
    width: 100%;
    padding: 10px 5px;
}

.tankstelle .opening {
    display: none;
}

.tankstelle.closed {
    color: #666666;
}

.tankstelle.closed b.small {
    color: red;
}

.tankstelle:hover {
    background: #FFD699;
    cursor: pointer;
}

.tankstelle:last-child {
    margin-bottom: 100px;
}

.guenstig {
    font-size: 80%;
    font-weight: bold;
    color: green;
}

.modal, .overlay {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 0, 0, 0, 0.8 ) url('/assets/ajax-loader.gif') 50% 50% no-repeat;
}

.overlay {
    background: rgba(0,0,0,0.6);
    z-index: 9999;
}

body.loading .modal {
    display: block;
    z-index: 999999;
}

#garageModal {
    padding: 15px 40px;
    text-align: center;
    box-shadow: 0px 0px 10px #111;
    display: none;
    z-index: 99999;
    position: absolute;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: #fff;
}

.clear {
    clear: both;
}

.padding {
    padding: 15px;
}

.alert {
    margin-top: 15px;
}

#legend {
    margin-top: 5px;
}

#legend .item {
    height: 15px;
    float: left;
    margin-bottom: 15px;
    padding-right: 10px;
}

.colorbox {
    height: 15px;
    width: 15px;
    margin: 2px;
    float: left;
}

.diesel {
    background-color: rgba(191,27,0,1);
}

.diesel_averange {
    background-color: rgba(64,9,0,1);
}

.super {
    background-color: rgba(232,63,12,1);
}

.super_averange {
    background-color: rgba(255,13,14,1);
}

#sidebar {
    list-style-type: none;
    font-size: 14px;
}

#sidebar ul {
    padding-top: 20px;
    list-style-type: none;
    font-size: 14px;
}

#sidebar img {
    margin: 5px;
}

#sidebar img:hover {
    -webkit-filter: invert(50%);
    filter: invert(50%);
}

#weather {
    position: absolute;
    text-align: center;
    right: 20px;
    top: 40px;
    background: #fefefe;
    opacity: 0.95;
    box-shadow: 0px 0px 10px #aaaaaa;
    display: none;
    width: 300px;
    padding: 0px 10px 10px 10px;
}

#weather .hotel {
    width: 100%;
    text-align: left;
    padding: 5px 15px;
}

#garages_near .add-route {
    display: none;
}