/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

 body 
 {
  background:#fcfcfc;
 }

#logo {
  float:left;
  padding:35px 0px 0px 30px;
  color:#fff;
}

#topBar {
  height:5px;
  width:100%;
  background:#ed4514;
  position:absolute;
  left:0;
  top:0;
  z-index:999;
}

.navbar{
	padding:0px;
}

.navbar-default .navbar-nav>li>a
{
	color: #fff;	
}
.navbar-default
{
	background-color: #ed4514;
  margin:0;
  box-shadow:0px 0px 15px #843822;
  border-bottom:0px;  
}

.input-group
{
	max-width: 250px;
	margin: 5px;
}

.container {
  width:95%;
  position:relative;
}

#header .container {
  height:125px;
}

#toggleNav {
  position:absolute;
  right:5px;
  top:85px;
  color:#fff;
  z-index:9999;
  background-color: #ed4514;
  border-radius:20px;
  padding:5px 10px;
}

#toggleNav.active {
  top:-10px;
}

div#navbar ul.main li {
  height:100%;  
}

div#navbar ul.main li a {
  padding-top:45px;
  border-right:1px solid #ed4514;
}

div#navbar ul.main li.active a, div#navbar ul.main li:hover a {
  background:#ef5817;
  height:100%;
  border-bottom:5px solid #fe832c;
  color:#fff;
  border-right:1px solid #ed4514;
}

#header ul.main {
  height:100%;
  position:absolute;
  left:150px;
}

#sidebar {
  height:100%;
  position:absolute;
  box-shadow:0px 0px 4px #444444;
  padding:0px !important;
}

#sidebar a.button {
  text-align:center;
  background:#eeeeee;
  margin:0px 0px 15px 0px;
}

#sidebar a.button.active {
  font-weight:bold;
}

#sidebar a.add-route {
  text-align:center;
  color:#ffffff;
  background:#ed4514;
  padding:10px 0px;
}

#sidebar a.button span {
  margin:10px 0px;
}

#main {
  background:#fcfcfc;
  height:100%;
  position:absolute;
  overflow: scroll;
  right:0;
  padding: 0;
  top:100;
}

#mainStats {
  background:#fcfcfc;
  height:100%;
  position:absolute;
  overflow: scroll;
  right:0;
  padding: 10;
  top:100;
}

.container.content {
  margin:0;
  padding:0;
  width:100%;
}

#content {
  width:80%;
  margin:0 auto;
  padding-top:25px;
  background:#fcfcfc;
}

#map {
  height:100%;
  width:100%;
}

.tankstelle {
  border-bottom:1px solid red;
  width:100%;
  padding:10px 5px;
}

.tankstelle:last-child {
  margin-bottom:100px;
}

.modal, .overlay{
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba( 0, 0, 0, 0.8 ) url('/assets/ajax-loader.gif') 50% 50% no-repeat;
}

.overlay {
  background:rgba(0,0,0,0.6);
  z-index:9999;
}

body.loading .modal {
  display: block;
  z-index:999999;
}

#garageModal {
  padding:15px 20px;
  box-shadow:0px 0px 10px #111;
  display:none;
  z-index:9999;
  position:absolute;
  top:20%;
  left:50%;
  background:#fff;
}

.clear {
  clear:both;
}


.padding {
  padding:15px;
}

.alert {
  margin-top:15px;
}

#legend
{
  margin-top: 5px;
}
#legend .item
{
 height: 15px;
 float: left;
 margin-bottom: 15px;
 padding-right: 10px;
}
.colorbox
{
  height: 15px;
  width: 15px;
  margin: 2px;  
  float: left;
}
.diesel
{
  background-color: rgba(191,27,0,1);
}
.diesel_averange
{
  background-color: rgba(64,9,0,1);
}
.super
{
  background-color: rgba(232,63,12,1);
}
.super_averange
{
  background-color: rgba(255,13,14,1);
}