// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar{
	padding-top: 100px;
	background-color: #eb4726;
	color: red;
}

.navbar-default
{
	background-color: #eb4726;
	color: red;
}

body {
  overflow:hidden;
}