<ul>
	<li><%= image_tag("euro1.png", size: "20") %><a href="">Preisübersicht</a></li>
	<li><%= image_tag("line23.png", size: "20") %><a href="">Preisverlauf</a></li>
	<li><%= image_tag("monday.png", size: "20") %><a href="">Wochentagauswertung</a></li>
</ul>