<div class="row">
  <div id="mainStats" class=" stats col-xs-12 col-md-9 ">
    <h3>Preisverlauf</h3>

    <select id="city" size="1">
      <% for city in  ReferenceCities.all() %>
      <option value=<%= city.id %>><%= city.name %></option>
      <% end %>
    </select>
    <div id="chartWrapper">
      <canvas id="myChart" width="1000" height="500"></canvas>
    </div>
  </div>
  
  <div id="sidebar" class="col-xs-12 col-md-3">
       <%= render partial: "sidebarLinks" %>
  </div>
  <div class="clear"></div>
</div>

<script type="text/javascript">

$('#city').change(update);



var data = {
    labels: [],
    datasets: [
        {
            label: "min Diesel",
            fillColor: "rgba(220,220,220,0)",
            strokeColor: "rgba(191,27,0,1)",
            pointColor: "rgba(191,27,0,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: []
        },
        {
            label: "average Diesel",
            fillColor: "rgba(220,220,220,0)",
            strokeColor: "rgba(64,9,0,1)",
            pointColor: "rgba(64,9,0,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: []
        },
        {
            label: "min Super",
            fillColor: "rgba(151,187,205,0)",
            strokeColor: "rgba(232,63,12,1)",
            pointColor: "rgba(232,63,12,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: []
        },
        {
            label: "average Super",
            fillColor: "rgba(151,187,205,0)",
            strokeColor: "rgba(255,13,14,1)",
            pointColor: "rgba(255,13,14,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: []
        },
    ]
};


update();

//A little later on with new data
function update(e) {

  $.ajax({
  url: "getCityDataById/" + $('#city').val(),
  }).done(function(json) 
  {
    
    //reset dataarrays
    data.labels = [];
    for (var i = 0; i < 4; i++) 
      data.datasets[i].data = [];

    //reset canvas with recreating
    $("#myChart").remove();
    $("#chartWrapper").append("<canvas id='myChart' width='1000' height='500'></canvas>");

    var ctx = $("#myChart").get(0).getContext("2d");
    var myLineChart = new Chart(ctx); 

   
    for (var i = 0; i < json.length; i++) 
    {
      date = new Date(json[i].updated_at)
      data.labels.push(date.getDate()+"."+date.getMonth()+1+"."+date.getFullYear()+"-"+date.getHours()+":"+date.getMinutes())

      data.datasets[0].data.push(json[i].min_diesel);
      data.datasets[1].data.push(json[i].min_super);
      data.datasets[2].data.push(json[i].average_diesel);
      data.datasets[3].data.push(json[i].average_super);
    };
      myLineChart.Line(data);

  });


}
</script>


