<div class="row">
  <div id="mainStats" class=" stats col-xs-12 col-md-9 ">
    <h3>Min/Max Statistik</h3>
    
   
  </div>
  <div id="sidebar" class="col-xs-12 col-md-3">
    <%= render partial: "sidebarLinks" %>
  </div>
  <div class="clear"></div>
</div>
<script>
  $(document).ready(function(){ $("#actTable").tablesorter(); } );
</script>